html,body {
  min-height: 100%;
}
body {
  font-family: 'Open Sans', Helvetica, sans-serif;
}
.main-container {
  margin: 90px auto 0 auto;
}
.main-container h1 {
  font-size: 2em;
  margin-bottom: 40px;
  font-weight: normal;
  text-align: center;
}
.main-container form {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 8px;
}
.main-container form p {
  font-size: 0.8em;
}
.modal-body img {
  display: block;
  margin: 0 auto;
}
